hooks:
  # only called when $DP_TOKEN is setup in git provider
  # and git provider is set up to call the DevPanel git hook
  git_hooks:
    push:
      - branch: "main"
        # matches release on "master" branch only
        # run commands or scripts from cmd below... eg:
        # echo "Hello World"
        # date >> test.txt
        cmd: |-
          echo "Hello World"
      - tag: ".*"
        # matches any tags
        # run commands or scripts from here; eg:
        cmd: |-
          echo "Hello World"
